<header class="container-fluid px-0 py-0">
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-lg-6 mt-2 pt-1">
			<div id="pageheading" class="text-white text-center d-none d-lg-block mt-5">
				<h1>Jet<i class="fas fa-plane-departure"></i>Wheel<i class="fas fa-plane-arrival"></i>Reel</h1>
				<h1>Reel<i class="fas fa-plane-departure"></i>Jet<i class="fas fa-plane-arrival"></i>Wheel</h1>
				<h1>Wheel<i class="fas fa-plane-departure"></i>Reel<i class="fas fa-plane-arrival"></i>Jet</h1>
				<h1>Jet<i class="fas fa-plane-departure"></i>Reel<i class="fas fa-plane-arrival"></i>Wheel</h1>
				<h1>Wheel<i class="fas fa-plane-departure"></i>Jet<i class="fas fa-plane-arrival"></i>Reel</h1>
				<h1>Jet<i class="fas fa-plane-departure"></i>Wheel<i class="fas fa-plane-arrival"></i>Reel</h1>
			</div>
		</div>
		<div class="col-lg-6 pt-4 mt-3 pt-lg-5 mt-lg-1">
			<img class="img-fluid" src="https://res.cloudinary.com/superkloklabs/image/upload/v1614265591/JetWheelReelPointCa/1stStep_aoks7b.jpg">
		</div>
	</div>
</header>