<nav id="jwrNav" class="menu mdText navbar navbar-expand-md py-0 fixed-top">
	<a class="navbar-brand ml-2 mr-5 my-1 pt-1 pb-2" href="#">Jet Wheel Reel</a>
	<button aria-label="toggle menu" class="navbar-toggler" data-toggle="collapse" data-target="#topnavbarlinks">
		<span id="customMenu" class="jwrGlow">Menu</span>
	</button>
	<div id="topnavbarlinks" class="collapse navbar-collapse">
		<ul class="navbar-nav d-block d-md-none">
			<li class="nav-item ml-2 mt-2 pt-1 pb-1">
				<a href="https://www.jetwheelreel.com/" class="nav-link jwrGlow"><span>English</span></a>
			</li>
			<li class="nav-item ml-2 my-0 py-0">
				<a href="https://www.swingcars.ca/" class="nav-link jwrGlow"><span class="scText">Swingcars.ca</span></a>
			</li>
			<li class="nav-item ml-2 my-0 py-0">
				<a href="https://www.trevmorin.ca/" class="nav-link jwrGlow"><span class="tmLgText">T</span><span class="tmSmText mdText">rev</span><span class="tmLgText">M</span><span class="tmSmText mdText">orin</span><span class="tmComText">.ca</span></a>
			</li>
			<li class="nav-item ml-2 my-0 pb-0 pt-2">
				<a href="https://www.currentcourant.ca/" class="nav-link jwrGlow"><span class="ccText">CurrentCourant.ca</span></a>
			</li>
			<li class="nav-item ml-2 my-0 py-0">
				<a href="https://www.superklok.ca/" class="nav-link jwrGlow"><span class="slText">Superklok.ca</span></a>
			</li>
			<li class="nav-item ml-2 mt-0 mb-2 pb-1 pt-1">
				<a href="https://www.sliderpiler.ca/" class="nav-link jwrGlow"><span class="spText">SliderPiler.ca</span></a>
			</li>
		</ul>
		<ul class="navbar-nav d-none d-md-block ml-auto">
			<div class="row">
				<div class="dropdown mr-4 pr-3">
					<a class="dropdown-toggle jwrGlow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span id="tmLogo">TM</span>
					</a>
					<div class="dropdown-menu menuBG" aria-labelledby="dropdownMenuButton">
						<a id="scDropdown" class="mx-3 mdText jwrGlow" href="https://www.swingcars.ca/">
							<span class="scText">Swingcars.ca</span>
						</a>
						<a class="mx-3 mdText jwrGlow" href="https://www.trevmorin.ca/">
							<span class="tmLgText">T</span><span class="tmSmText mdText">rev</span><span class="tmLgText">M</span><span class="tmSmText mdText">orin</span><span class="tmComText">.ca</span>
						</a>
						<a id="ccDropdown" class="mx-3 mdText jwrGlow" href="https://www.currentcourant.ca/">
							<span class="ccText">CurrentCourant.ca</span>
						</a>
						<a id="slDropdown" class="mx-3 mdText jwrGlow" href="https://www.superklok.ca/">
							<span class="slText">Superklok.ca</span>
						</a>
						<a id="spDropdown" class="mx-3 mdText jwrGlow" href="https://www.sliderpiler.ca/">
							<span class="spText">SliderPiler.ca</span>
						</a>
					</div>
				</div>
				<div class="dropdown mt-2 mr-3 pt-1 pb-2 pr-3">
					<a class="dropdown-toggle mdText jwrGlow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span>Fran&#231;ais</span>
					</a>
					<div class="dropdown-menu menuBG" aria-labelledby="dropdownMenuButton">
						<a class="mx-4 mdText jwrGlow" href="https://www.jetwheelreel.com/">English</a>
					</div>
				</div>
			</div>
		</ul>
	</div>
</nav>