<section> <!-- Début de section 2 -->
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 order-2 order-md-1">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1610120524/JetWheelReelDotCom/8thStep_h9jewp.jpg" class="img-fluid">
		</div>
		<div class="col-md-6 text-center order-1 order-md-2">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Septi&egrave;me &eacute;tape</h2>
					<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">Pour retirer l'ancienne roue, il faut extraire la goupille fendue et l'&eacute;crou. Une fois lib&eacute;r&eacute;e, la roue sera pr&ecirc;te &agrave; prendre au moins un des roulements &agrave; rouleaux avec elle et &agrave; le laisser tomber sur le sol. Il est important que les roulements ne tombent pas de n'importe quelle hauteur, car il faudra alors les remplacer et tout ce qui se passe dans l'aviation coûte des centaines &agrave; des milliers de dollars.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 text-center">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Huiti&egrave;me &eacute;tape</h2>
					<i class="fas fa-fighter-jet d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">Une fois que l'ancienne assembl&eacute;e de roue et tous les &eacute;l&eacute;ments de montage associ&eacute;s ont &eacute;t&eacute; retir&eacute;s de l'avion, assurez-vous que la zone soit nettoy&eacute;e et inspectez rapidement pour tout signe de dommage.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1610120568/JetWheelReelDotCom/9thStep_bchwuz.jpg" class="img-fluid">
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 order-2 order-md-1">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1610120545/JetWheelReelDotCom/10thStep_uanr2a.jpg" class="img-fluid">
		</div>
		<div class="col-md-6 text-center order-1 order-md-2">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Neuvi&egrave;me &eacute;tape</h2>
					<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">Maintenant que l'ancienne roue est retir&eacute;e, c'est le temps parfait pour regrouper les roulements et le mat&eacute;riel de la roue inutilisable afin qu'elle reste group&eacute;e. Le nettoyage des anciens roulements dans de l'essence min&eacute;rale vous permettra de les inspecter correctement afin de d&eacute;tecter tout dommage important ou subtil.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 text-center">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Dixi&egrave;me &eacute;tape</h2>
					<i class="fas fa-fighter-jet d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">Il est important de conserver les morceaux de goupille fendue qui ont &eacute;t&eacute; retir&eacute;s de l'installation de la vieille roue afin que le jet ne roule pas sur un morceau de ce m&eacute;tal pointu et ne mette pas un autre pneu &agrave; la ferraille. Si les anciens roulements sont jug&eacute;s utilisables, ils peuvent &ecirc;tre regraiss&eacute;s et plac&eacute;s dans un sac afin qu'ils ne se m&eacute;langent pas avec ceux qui &eacute;taient fournis avec la nouvelle roue.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1610120572/JetWheelReelDotCom/11thStep_pnfmgt.jpg" class="img-fluid">
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 order-2 order-md-1">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1610120544/JetWheelReelDotCom/12thStep_smx4hw.jpg" class="img-fluid">
		</div>
		<div class="col-md-6 text-center order-1 order-md-2">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Onzi&egrave;me &eacute;tape</h2>
					<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">Lors de l'installation de la nouvelle roue, il est important de vous assurer que le roulement reste enduit de graisse et il est encore plus important que rien d'autre ne soit enduit de graisse pendant le processus d'installation des roulements &agrave; rouleaux. Essuyez la graisse qui a pu se d&eacute;poser sur tout ce qui n'est pas un roulement de roue.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 text-center">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Douzi&egrave;me &eacute;tape</h2>
					<i class="fas fa-fighter-jet d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">Saisissez fermement la lourde roue neuve dans un bras et accroupissez-vous maladroitement au-dessus d'elle tout en restant sous l'aile afin de positionner la roue dans les clavettes des disques de frein. Si cette &eacute;tape n'est pas effectu&eacute;e correctement, l'avion va tr&egrave;s probablement larguer la roue pendant le d&eacute;collage.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1610120560/JetWheelReelDotCom/13thStep_xaery4.jpg" class="img-fluid">
		</div>
	</div>
</section> <!-- Fin de section 2 -->