	<section> <!-- Début de section 3 -->
		<div class="row align-items-center mb-5 mb-md-4">
			<div class="col-md-6 order-2 order-md-1">
				<img src="../assets/img/steps/14thStep.jpg" class="img-fluid">
			</div>
			<div class="col-md-6 text-center order-1 order-md-2">
				<div class="row justify-content-center">
					<div class="procedure col-10 col-lg-8">
						<h2 class="mb-3 mb-md-2">Treizi&egrave;me &eacute;tape</h2>
						<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
						<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
						<p class="mb-4">Une fois que la nouvelle roue a &eacute;t&eacute; mont&eacute;e avec l'&eacute;crou serr&eacute; juste jusqu'&agrave; ce qu'elle atteigne le trou de s&eacute;curit&eacute;, installez la goupille fendue et assurez-vous que la roue peut tourner librement avant de couper les extr&eacute;mit&eacute;s, juste au cas o&ugrave; la roue devrait &ecirc;tre remise en place contre les disques de frein. Si la roue ne tourne pas librement, le pneu explosera au d&eacute;collage.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items-center mb-5 mb-md-4">
			<div class="col-md-6 text-center">
				<div class="row justify-content-center">
					<div class="procedure col-10 col-lg-8">
						<h2 class="mb-3 mb-md-2">Quatorzi&egrave;me &eacute;tape</h2>
						<i class="fas fa-fighter-jet d-none d-md-block mb-3"></i>
						<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
						<p class="mb-4">Si la roue tourne librement, il est alors maintenant le temps pour couper les extr&eacute;mit&eacute;s de la goupille fendue pour finaliser l'installation de la roue. &Agrave; ce point ici, c'est un bon moment de vous assurer qu'il n'y a pas de pi&egrave;ces suppl&eacute;mentaires qui ont &eacute;t&eacute; suppos&eacute; d'&ecirc;tre install&eacute;e au m&ecirc;me temps que la roue.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<img src="../assets/img/steps/15thStep.jpg" class="img-fluid">
			</div>
		</div>
		<div class="row align-items-center mb-5 mb-md-4">
			<div class="col-md-6 order-2 order-md-1">
				<img src="../assets/img/steps/16thStep.jpg" class="img-fluid">
			</div>
			<div class="col-md-6 text-center order-1 order-md-2">
				<div class="row justify-content-center">
					<div class="procedure col-10 col-lg-8">
						<h2 class="mb-3 mb-md-2">Quinzi&egrave;me &eacute;tape</h2>
						<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
						<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
						<p class="mb-4">Une fois que vous avez atteint ce point, si vous remarquez que le petit point rouge sur le pneu ne s'aligne pas avec la valve, cela signifie que la roue a &eacute;t&eacute; mal assembl&eacute;e et qu'elle doit &ecirc;tre retir&eacute;e de l'avion, d&eacute;molie et reconstruite. Le point rouge indique le point l&eacute;ger de la pneu. Si n'importe quel des joints toriques jaune n&eacute;on est bris&eacute;, &#231;a signifie qu'un ou plusieurs des boulons sont desserr&eacute;s et que la roue peut s'exploser &agrave; tout moment.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items-center mb-5 mb-md-4">
			<div class="col-md-6 text-center">
				<div class="row justify-content-center">
					<div class="procedure col-10 col-lg-8">
						<h2 class="mb-3 mb-md-2">&Eacute;tape finale</h2>
						<i class="fas fa-fighter-jet d-none d-md-block mb-3"></i>
						<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
						<p class="mb-4">Comme l'avion est actuellement sur v&eacute;rin, la jambe de force est enti&egrave;rement d&eacute;ploy&eacute;e et peut &ecirc;tre temporairement bloqu&eacute;e. Une fois que l'avion soit descendu, il est important de sortir rapidement le cric de dessous l'avion et de le faire sortir par le dessous de l'aile, car le c&ocirc;t&eacute; de l'avion va soudainement et rapidement s'effondrer &agrave; tout moment. En essuyant un peu de liquide hydraulique sur le hauban avant que l'avion ne soit descendu du cric, on peut &eacute;viter que l'aile ne tombe inopin&eacute;ment d'un pied ou deux quelques minutes apr&egrave;s que le cric a &eacute;t&eacute; rang&eacute;.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<img src="../assets/img/steps/17thStep.jpg" class="img-fluid">
			</div>
		</div>
		<div class="row align-items-center mb-4">
			<div class="col-md-6 order-2 order-md-1">
				<img src="../assets/img/steps/18thStep.jpg" class="img-fluid">
			</div>
			<div class="col-md-6 text-center order-1 order-md-2">
				<div class="row justify-content-center">
					<div class="procedure col-10 col-lg-8">
						<h2 class="mb-3 mb-md-2">Vrais conseils de roue</h2>
						<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
						<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
						<p class="mb-4">Il est important de noter que chaque avion a des exigences de s&eacute;curit&eacute; diff&eacute;rentes lorsqu'il s'agit d'effectuer une proc&eacute;dure de changement de roue. Cet oiseau de guerre, par exemple, a besoin d'un support de queue pour &eacute;viter qu'il soit d&eacute;truit lorsqu'il est sur v&eacute;rins. Assurez-vous toujours d'avoir une roue de rechange en &eacute;tat de marche avant de retirer l'ancienne, au cas o&ugrave; quelque chose tournerait mal.</p>
					</div>
				</div>
			</div>
		</div>
	</section> <!-- Fin de section 3 -->
</section> <!-- Fin de section 1 -->