<% layout('layouts/boilerplate') %>
<section class="container-fluid px-0"> <!-- Début de section 1 -->
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 order-2 order-md-1">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1610120509/JetWheelReelDotCom/2ndStep_x29brj.jpg" class="img-fluid">
		</div>
		<div class="col-md-6 text-center order-1 order-md-2">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Premi&egrave;re &eacute;tape</h2>
					<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">La premi&egrave;re &eacute;tape, et la plus cruciale, pour commencer &agrave; changer la roue de votre jet priv&eacute; est de localiser le pneu d&eacute;rap&eacute; et de mettre l'avion en cric. Si vous placez le cric au mauvais endroit, vous risquez de vous retrouver avec au moins une crevaison traversant directement le rev&ecirc;tement de l'aile ou, au pire, avec une livraison ininterrompue de milliers de livres de k&eacute;ros&egrave;ne sur le sol. Si cela se produit, il ne fallait pas encor effectuer le restant de la proc&eacute;dure de changement de roue.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 text-center">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Deuxi&egrave;me &eacute;tape</h2>
					<i class="fas fa-fighter-jet d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">Une fois que le cric soit en place, selon le nombre de composants install&eacute;s au fond du jet, vous voudrez lire la plaquette pour vous assurer que vous avez bien rep&eacute;r&eacute; la plaquette du cric. Si vous avez correctement identifi&eacute; le cric, c'est fort probable que vous soyez &eacute;galement r&eacute;compens&eacute; avec un message d'avertissement qui vous indiquant comment faire &eacute;conomiser des milliers de dollars au propri&eacute;taire du jet priv&eacute; et peut-&ecirc;tre aussi un(e) m&eacute;canicien(ne) ou deux.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1610120536/JetWheelReelDotCom/3rdStep_xjpg4q.jpg" class="img-fluid">
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 order-2 order-md-1">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1614265400/JetWheelReelDotCom/4thStep_moynvt.jpg" class="img-fluid">
		</div>
		<div class="col-md-6 text-center order-1 order-md-2">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Troisi&egrave;me &eacute;tape</h2>
					<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">Avant de retirer l'assemblage de la vieille roue, c'est essentiel de vous assurer qu'une roue de secours en bon &eacute;tat de fonctionnement a &eacute;t&eacute; constitu&eacute;e, ainsi que les documents qui l'accompagnent. Une fois que la roue soit assembl&eacute;e, laissez-la reposer pendant quelques heures pour vous assurer qu'elle ne fuit pas.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 text-center">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Quatri&egrave;me &eacute;tape</h2>
					<i class="fas fa-fighter-jet d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">Il est important de v&eacute;rifier que la nouvelle roue ne pr&eacute;sente aucune anomalie avant de l'installer sur l'avion, car si elle tombe en panne, vous voudrez &ecirc;tre celui qui fait des accusations au lieu de celui qui r&eacute;ponds aux questions d'un juge de la cour f&eacute;d&eacute;rale.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1614265406/JetWheelReelDotCom/5thStep_zipqol.jpg" class="img-fluid">
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 order-2 order-md-1">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1610120523/JetWheelReelDotCom/6thStep_p4xhjy.jpg" class="img-fluid">
		</div>
		<div class="col-md-6 text-center order-1 order-md-2">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Cinqui&egrave;me &eacute;tape</h2>
					<i class="fas fa-fighter-jet fa-rotate-180 d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">Vous voulez voir la graisse Mobil 100 suinter entre les rouleaux du roulement alors que le bouton est fermement enfonc&eacute;. Les graisseurs de roulements sont r&eacute;put&eacute;s pour leur capacit&eacute; &agrave; d&eacute;charger rapidement la graisse tout partout, alors faites toujours attention &agrave; la pression appliqu&eacute;e et veillez &agrave; ne pas appuyer sur le bouton en biais.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-items-center mb-5 mb-md-4">
		<div class="col-md-6 text-center">
			<div class="row justify-content-center">
				<div class="procedure col-10 col-lg-8">
					<h2 class="mb-3 mb-md-2">Sixi&egrave;me &eacute;tape</h2>
					<i class="fas fa-fighter-jet d-none d-md-block mb-3"></i>
					<i class="fas fa-fighter-jet fa-rotate-90 d-sm-block d-md-none mb-3"></i>
					<p class="mb-4">Une fois que les deux roulements &agrave; rouleaux sont compl&egrave;tement enduits de graisse, il est bon de vous assurer qu'ils sont pr&ecirc;ts &agrave; &ecirc;tre install&eacute;s pour le cas o&ugrave; vous vous trouveriez accroupi dans une position bizarre sous un jet priv&eacute; tout en tenant une assembl&eacute;e de roue de cinquante livres dans une main et en utilisant la majeure partie de votre concentration pour le maintenir align&eacute; avec les cl&eacute;s des disques de frein.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1610120562/JetWheelReelDotCom/7thStep_cigwp6.jpg" class="img-fluid">
		</div>
	</div>