@media (prefers-color-scheme: dark) {
	body {
		background: url('../assets/img/jetwheelreelBG.jpg') no-repeat center center fixed;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-color: #753B5B;
		text-shadow: -1px 1px 0 #000,
					1px 1px 0 #000,
					1px -1px 0 #000,
					-1px -1px 0 #000;
	}

	body:after {
		content:"";
		position:fixed;
		top:0;
		height:100vh;
		left:0;
		right:0;
		background: url('../assets/img/jetwheelreelBG.jpg') center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-color: #753B5B;
		z-index:-1;
	}

	i {
		color: rgba(0,255,255,0.5);
		font-size: 2.4rem;
		text-shadow: none;
	}

	.img-fluid {
		border-radius: 25px;
	}

	.procedure h2	{
		color: #00FA9A;
		font-family: 'Permanent Marker', cursive;
		font-size: 2.5rem;
	}

	.procedure p {
		color: #F8F8FF;
		font-family: 'Acme', sans-serif;
		font-size: 1.6rem;
		line-height: 1.25;
	}

	#pageheading i {
		color: rgba(0, 255, 255, 0.3);
	}

	#pageheading h1 {
		font-family: 'Righteous', cursive;
		font-size: 4rem;
		text-shadow: none;
	}

	#footer {
		font-family: 'Acme', sans-serif;
		color: #F8F8FF;
		transition: all 0.6s;
		-webkit-transition: all 0.6s;
		-moz-transition: all 0.6s;
	}

	#footer:hover {
		color: #00FA9A;
		text-shadow: -1px 1px 0 #975570,
					1px 1px 0 #975570,
					1px -1px 0 #975570,
					-1px -1px 0 #975570;
	}

	#copyright {
		font-size: 1.3rem;
	}

	@media (max-width: 1200px) {
		#pageheading h1 {
			font-weight: 100;
			font-size: 3rem;
		}
	}
}